@font-face {
    font-family: 'SpaceNotoriousRounded';
    src: url('../fonts/SpaceNotoriousRounded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #000;
    --secondary: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SpaceNotoriousRounded', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.btn {
    --btn-width: 200px;
    --btn-height: 44px;
    padding: 8px 16px;
    font-family: 'SpaceNotoriousRounded', sans-serif;

    width: var(--btn-width);
    height: var(--btn-height);
    background-color: #F6F0D8;
    border: 2px solid #8F6978;
    border-radius: 8px;
}

.btn.btn-primary {
    background-color: #F6F0D8;
    border: 2px solid #8F6978;
}

.btn.btn-alt {
    --btn-width: 148px;
    --btn-height: unset;
    border: 2px solid #F6F0D8;
    background: #DAC276;
}

.btn.btn-success {
    background-color: #91DA76;
}

.btn.btn-danger {
    background-color: #DA7676;
}

.btn.btn-clear {
    background: rgba(255, 255, 255, 0.64);
}

.btn.btn-icon {
    --btn-height: unset;
    --btn-width: unset;
    max-width: 44px;
    max-height: 44px;
    aspect-ratio: 1;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-icon.btn-icon-big {
    max-width: 64px;
    max-height: 64px;
}

.btn.btn-fill {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form .form-row {
    display: flex;
    gap: 16px;
}

.form .form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form .form-col {
    align-self: stretch;
}

/* #region Start Game Screen */

.start-game-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.start-game-screen img.start-game-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-game-screen .start-game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vw;
    padding-bottom: 25vw;
    width: 100%;
    height: calc(100% - 35vw);
}

.start-game-screen .start-game-title {
    z-index: 1;
    color: #AF3F3F;
    font-size: 256px;
    font-weight: 900;
}

.start-game-screen .choices {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.start-game-screen .choice {
    position: relative;

    font-size: 32px;
    font-weight: 900;
}

.start-game-screen .choice.current-choice:before {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(-100%, -50%);

    content: '';
    background-image: url('../assets/icons/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 51px;
    height: 46px;

    /* Blink animation */
    animation: blink-vector 1s steps(2, start) infinite;
}

@keyframes blink-vector {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

/* #endregion */

/* #region Map */

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* #region HUD */

#game-container #game-hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#game-container #game-hud #game-hud-bars {
    position: absolute;
    bottom: 32px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#game-container #game-hud #game-hud-bars .resource-bar {
    display: flex;
    align-items: center;
    pointer-events: all;
    width: min-content;
}

.bar-icon {
    --bar-icon-size: 72px;
    --bar-icon-color: black;
    position: relative;
    z-index: 2;
}

.bar-icon .bar-icon-img {
    position: relative;
    z-index: 1;
    width: var(--bar-icon-size);
    height: var(--bar-icon-size);
}

.bar-icon::before {
    content: '';
    position: absolute;
    width: calc(var(--bar-icon-size) - 6px);
    height: calc(var(--bar-icon-size) - 6px);
    background-color: var(--bar-icon-color);
    border-radius: 50%;
    top: 3px;
    left: 3px;
}

#game-container #game-hud #game-hud-bars .boat-bar .bar-icon {
    --bar-icon-size: 80px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame {
    display: flex;
    position: relative;
    padding: 16px 32px 16px 24px;
    margin-left: -10.5px;
    height: 32px;
    width: 64px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame .bar-frame-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame .bar-frame-text {
    flex-grow: 1;
    flex-basis: 0;

    white-space: nowrap;

    color: white;
    font-size: 24px;
    font-weight: 900;

    display: flex;
    align-items: center;
    z-index: 1;
}

#game-container #game-hud #game-hud-bars .boat-bar {
    display: flex;
    flex-direction: column;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar {
    display: flex;
    align-items: center;
    pointer-events: all;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .movement-bar-frame {
    height: 48px;
    width: 440px;
    position: relative;
    margin-left: -5.5px;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .movement-bar-frame-img {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    --move-progress: 0;
    width: calc(var(--move-progress) * 94%);
    background: linear-gradient(90deg, rgba(133, 12, 12, 1) 0%, rgba(214, 194, 17, 1) 500px);
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 2px;

    width: 24px;
    height: 100%;
    transform: rotate(45deg);
    border-radius: 8px;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress-background {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    width: 94%;
    background-color: black;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress-background::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 2px;

    width: 24px;
    height: 100%;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 8px;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar {
    margin-top: -24px;
    margin-left: 2.5px;
    position: relative;
    width: min-content;
    pointer-events: all;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar .level-img {
    height: 48px;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar .level-text {
    display: flex;
    justify-self: center;
    align-items: center;
    color: white;

    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);

    height: 32px;
    z-index: 1;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar .info {
    background-image: url(../assets/images/button-info.png);
    width: 40px;
    height: 40px;
    background-size: cover;

    position: absolute;
    top: 4px;
    right: -40px;

}

#game-container #game-hud #game-hud-buttons {
    position: absolute;
    bottom: 32px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#game-container #game-hud #game-hud-buttons button {
    pointer-events: all;
}


/* #endregion */

#game-container #game-map {
    --cell-size: 128px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#game-container #game-map #map-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    gap: 1px;
}

#game-container #game-map #map-container .map-row {
    display: flex;
    width: max-content;
    height: var(--cell-size);
    min-height: var(--cell-size);
    max-height: var(--cell-size);
}

#game-container #game-map #map-container .map-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    min-width: var(--cell-size);
    min-height: var(--cell-size);

    border: none;
    position: relative;
    background-image: url('../assets/images/tiles/cloud.png');
    background-color: white;
}

#game-container #game-map #map-container .map-cell[data-variant="2"],
#game-container #game-map #map-container .map-cell[data-variant="4"] {
    filter: brightness(0.9);
}

#game-container #game-map #map-container .map-cell:not(.boat):hover {
    z-index: 2;
    outline: rgb(141, 8, 8) solid 8px;
}

#game-container #game-map #map-container .map-cell:not(.boat):hover::after {
    /* On récupère les deux valeurs et on les formate */
    content: "(X : " attr(data-x) ", Y : " attr(data-y) ")";

    /* Style de l'infobulle */
    position: absolute;
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    top: -40px;
    margin-left: 50%;
    transform: translateX(-50%);
    /* Positionnement au-dessus */
    white-space: nowrap;
}

#game-container #game-map #map-container .map-cell.selected {
    border-color: red;
}

#game-container #game-map #map-container .map-cell[data-type="sea"] {
    background: url(../assets/images/tiles/sea.png) lightgray 50% / cover no-repeat;
}

#game-container #game-map #map-container .map-cell[data-type="sand"] {
    background: url(../assets/images/tiles/sand.png) lightgray 50% / cover no-repeat;
}

#game-container #game-map #map-container .map-cell.boat::after {
    content: '';
    position: absolute;
    width: calc(var(--cell-size) - 8px);
    height: calc(var(--cell-size) - 8px);
    top: 4px;
    left: 4px;

    --boat-img: url(../assets/images/boat/boat-up.svg);
    background-image: var(--boat-img);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#game-container #game-map #map-container .map-cell.boat.boat-up::after {
    --boat-img: url(../assets/images/boat/boat-up.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-down::after {
    --boat-img: url(../assets/images/boat/boat-down.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-left::after {
    --boat-img: url(../assets/images/boat/boat-left.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-right::after {
    --boat-img: url(../assets/images/boat/boat-right.svg);
}

/* #endregion */

/* #region Menu */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal .modal-content {
    position: relative;
    padding: 32px;
    min-width: 444px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border: 2px solid #8F697D;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.83);
}

.exit {
    --button-size: 44px;
    width: var(--button-size);
    height: var(--button-size);
    background-color: #DA7676;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-exit {
    position: absolute;
    right: calc(-1 * var(--button-size) / 2);
    top: calc(-1 * var(--button-size) / 2);
}

.modal .modal-content .modal-exit {
    position: absolute;
    right: calc(-1 * var(--button-size) / 2);
    top: calc(-1 * var(--button-size) / 2);
}

#game-menu #game-menu-exit>img {
    width: 16px;
}

#game-menu #game-menu-content #game-menu-title {
    font-size: 24px;
    color: #798085;
}

#game-menu #game-menu-content #game-menu-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#game-menu #game-menu-content #game-menu-choices .game-menu-choice {
    font-size: 32px;
    position: relative;
}

#game-menu #game-menu-content #game-menu-choices .game-menu-choice.current-choice:before {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(-100%, -50%);

    content: '';
    background-image: url('../assets/icons/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 51px;
    height: 46px;

    /* Blink animation */
    animation: blink-vector 1s steps(2, start) infinite;
}

/* #endregion */

/* #region Market */

#market-modal .modal-content #market-modal-title {
    font-size: 24px;
    color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    width: 100%;
}

#market-modal .modal-content #market-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#market-modal .modal-content #market-content #market-offers {
    width: 100%;
    display: flex;
    gap: 4px;
}

#market-modal .modal-content #market-content #market-offers #offers-pagination {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#market-modal .modal-content #market-content #market-offers #offers-pagination .page {
    width: 44px;
    height: 44px;
    background: #E4E4E4;
    border: 2px solid #8F6978;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#market-modal .modal-content #market-content #market-offers #offers-pagination .page.current-page {
    background: #715B5B;
    color: white;
}

#market-modal .modal-content #market-content #market-offers #offers-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer {
    padding: 24px 32px;
    display: flex;
    gap: 32px;
    border: 2px solid #8F6978;
    background: #E5D2DA;
    border-radius: 8px;
    color: #202020;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-details .offer-title {
    color: #202020;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-actions {
    display: flex;
    gap: 16px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-actions .offer-quantity {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-actions .offer-quantity>img {
    height: 22.5px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-actions .offer-buttons {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    gap: 8px;
}

#market-modal .modal-content #market-content #market-offers #offers-container .offer .offer-actions .offer-buttons .accept-offer {
    max-width: 300%;
}

/* #endregion */