@font-face {
    font-family: 'SpaceNotoriousRounded';
    src: url('../fonts/SpaceNotoriousRounded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #000;
    --secondary: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SpaceNotoriousRounded', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* #region Start Game Screen */

.start-game-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.start-game-screen img.start-game-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-game-screen .start-game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vw;
    padding-bottom: 25vw;
    width: 100%;
    height: calc(100% - 35vw);
}

.start-game-screen .start-game-title {
    z-index: 1;
    color: #AF3F3F;
    font-size: 256px;
    font-weight: 900;
}

.start-game-screen .choices {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.start-game-screen .choice {
    position: relative;

    font-size: 32px;
    font-weight: 900;
}

.start-game-screen .choice.current-choice:before {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(-100%, -50%);

    content: '';
    background-image: url('../assets/icons/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 51px;
    height: 46px;

    /* Blink animation */
    animation: blink-vector 1s steps(2, start) infinite;
}

@keyframes blink-vector {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

/* #endregion */

/* #region Map */

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* #region HUD */

#game-container #game-hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#game-container #game-hud #game-hud-bars {
    position: absolute;
    bottom: 32px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#game-container #game-hud #game-hud-bars .resource-bar {
    display: flex;
    align-items: center;
    pointer-events: all;
    width: min-content;
}

#game-container #game-hud #game-hud-bars .bar-icon {
    --bar-icon-size: 72px;
    --bar-icon-color: black;
    position: relative;
    z-index: 2;
}

#game-container #game-hud #game-hud-bars .bar-icon .bar-icon-img {
    position: relative;
    z-index: 1;
    width: var(--bar-icon-size);
    height: var(--bar-icon-size);
}

#game-container #game-hud #game-hud-bars .bar-icon::before {
    content: '';
    position: absolute;
    width: calc(var(--bar-icon-size) - 4px);
    height: calc(var(--bar-icon-size) - 4px);
    background-color: var(--bar-icon-color);
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

#game-container #game-hud #game-hud-bars .boat-bar .bar-icon {
    --bar-icon-size: 80px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame {
    display: flex;
    position: relative;
    padding: 16px 32px 16px 32px;
    margin-left: -10.5px;
    height: 32px;
    width: 64px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame .bar-frame-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame .bar-frame-text {
    flex-grow: 1;
    flex-basis: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    color: white;
    font-size: 16px;
    font-weight: 900;

    display: flex;
    align-items: center;
    z-index: 1;
}

#game-container #game-hud #game-hud-bars .boat-bar {
    display: flex;
    flex-direction: column;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar {
    display: flex;
    align-items: center;
    pointer-events: all;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .movement-bar-frame {
    height: 48px;
    width: 440px;
    position: relative;
    margin-left: -5.5px;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .movement-bar-frame-img {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    --move-progress: 0;
    width: calc(var(--move-progress) * 94%);
    background-color: #FEA760;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 2px;

    width: 24px;
    height: 100%;
    background-color: #FEA760;
    transform: rotate(45deg);
    border-radius: 8px;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress-background {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    width: 94%;
    background-color: black;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress-background::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 2px;

    width: 24px;
    height: 100%;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 8px;
}

#game-container #game-hud #game-hud-bars .boat-bar .move-bar .move-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar {
    margin-top: -24px;
    margin-left: 2.5px;
    position: relative;
    width: min-content;
    pointer-events: all;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar .level-img {
    height: 48px;
}

#game-container #game-hud #game-hud-bars .boat-bar .level-bar .level-text {
    display: flex;
    justify-self: center;
    align-items: center;
    color: white;

    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);

    height: 32px;
    z-index: 1;
}


/* #endregion */

#game-container #game-map {
    --cell-size: 128px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#game-container #game-map #map-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    gap: 1px;
}

#game-container #game-map #map-container .map-row {
    display: flex;
    width: max-content;
    height: var(--cell-size);
    min-height: var(--cell-size);
    max-height: var(--cell-size);
}

#game-container #game-map #map-container .map-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    min-width: var(--cell-size);
    min-height: var(--cell-size);

    border-color: #EEE;
    border-width: 0.5px;
    border-style: solid;
    position: relative;
    background-color: black;
}

#game-container #game-map #map-container .map-cell.selected {
    border-color: red;
}

#game-container #game-map #map-container .map-cell[data-type="sea"] {
    background: url(../assets/images/tiles/sea.png) lightgray 50% / cover no-repeat;
}

#game-container #game-map #map-container .map-cell[data-type="sand"] {
    background: url(../assets/images/tiles/sand.svg) lightgray 50% / cover no-repeat;
}

#game-container #game-map #map-container .map-cell.boat::after {
    content: '';
    position: absolute;
    width: calc(var(--cell-size) - 8px);
    height: calc(var(--cell-size) - 8px);
    top: 4px;
    left: 4px;

    --boat-img: url(../assets/images/boat/boat-up.svg);
    background-image: var(--boat-img);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#game-container #game-map #map-container .map-cell.boat.boat-up::after {
    --boat-img: url(../assets/images/boat/boat-up.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-down::after {
    --boat-img: url(../assets/images/boat/boat-down.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-left::after {
    --boat-img: url(../assets/images/boat/boat-left.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-right::after {
    --boat-img: url(../assets/images/boat/boat-right.svg);
}

/* #endregion */

/* #region Menu */

#game-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

#game-menu #game-menu-content {
    position: relative;
    padding: 32px 0;
    width: 508px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border: 2px solid #8F697D;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.83);
}

#game-menu #game-menu-exit {
    position: absolute;
    right: -22px;
    top: -22px;
    width: 44px;
    height: 44px;
    background-color: #DA7676;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game-menu #game-menu-exit > img {
    width: 16px;
}

#game-menu #game-menu-content #game-menu-title {
    font-size: 24px;
    color: #798085;
}

#game-menu #game-menu-content #game-menu-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#game-menu #game-menu-content #game-menu-choices .game-menu-choice {
    font-size: 32px;
    position: relative;
}

#game-menu #game-menu-content #game-menu-choices .game-menu-choice.current-choice:before {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(-100%, -50%);

    content: '';
    background-image: url('../assets/icons/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 51px;
    height: 46px;

    /* Blink animation */
    animation: blink-vector 1s steps(2, start) infinite;
}

/* #endregion */