@font-face {
    font-family: 'SpaceNotoriousRounded';
    src: url('../fonts/SpaceNotoriousRounded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #000;
    --secondary: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SpaceNotoriousRounded', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* #region Start Game Screen */

.start-game-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.start-game-screen img.start-game-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-game-screen .start-game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vw;
    padding-bottom: 25vw;
    width: 100%;
    height: calc(100% - 35vw);
}

.start-game-screen .start-game-title {
    z-index: 1;
    color: #AF3F3F;
    font-size: 256px;
    font-weight: 900;
}

.start-game-screen .choices {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.start-game-screen .choice {
    position: relative;

    font-size: 32px;
    font-weight: 900;
}

.start-game-screen .choice.current-choice:before {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(-100%, -50%);

    content: '';
    background-image: url('../assets/icons/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 51px;
    height: 46px;

    /* Blink animation */
    animation: blink-vector 1s steps(2, start) infinite;
}

@keyframes blink-vector {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

/* #endregion */

/* #region Map */

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* #region HUD */

#game-container #game-hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#game-container #game-hud #game-hud-bars {
    position: absolute;
    bottom: 32px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#game-container #game-hud #game-hud-bars .resource-bar {
    display: flex;
    align-items: center;
}

.bar-icon {
    --bar-icon-size: 72px;
    --bar-icon-color: black;
    position: relative;
    z-index: 1;
}

.bar-icon .bar-icon-img {
    position: relative;
    z-index: 1;
    width: var(--bar-icon-size);
    height: var(--bar-icon-size);
}

.bar-icon::before {
    content: '';
    position: absolute;
    width: calc(var(--bar-icon-size) - 4px);
    height: calc(var(--bar-icon-size) - 4px);
    background-color: var(--bar-icon-color);
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

#game-container #game-hud #game-hud-bars .boat-bar .bar-icon {
    --bar-icon-size: 80px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame {
    display: flex;
    position: relative;
    padding: 16px 0 16px 32px;
    margin-left: -10.5px;
    height: 32px;
    width: 64px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame .bar-frame-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
}

#game-container #game-hud #game-hud-bars .resource-bar .bar-frame .bar-frame-text {
    flex-grow: 1;
    flex-basis: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: white;
    font-size: 16px;
    font-weight: 900;

    display: flex;
    align-items: center;
    z-index: 1;
}

/* #endregion */

#game-container #game-map {
    --cell-size: 128px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#game-container #game-map #map-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}

#game-container #game-map #map-container .map-row {
    display: flex;
    width: max-content;
    height: var(--cell-size);
    min-height: var(--cell-size);
    max-height: var(--cell-size);
}

#game-container #game-map #map-container .map-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    min-width: var(--cell-size);
    min-height: var(--cell-size);

    border-color: #EEE;
    border-width: 0.5px;
    border-style: solid;
    position: relative;
}

#game-container #game-map #map-container .map-cell[data-type="sea"] {
    background: url(../assets/images/tiles/sea.svg) lightgray 50% / cover no-repeat;
    opacity: 0.5;
}

#game-container #game-map #map-container .map-cell[data-type="sand"] {
    background: url(../assets/images/tiles/sand.svg) lightgray 50% / cover no-repeat;
    opacity: 0.5;
}

#game-container #game-map #map-container .map-cell.boat::after {
    content: '';
    position: absolute;
    width: calc(var(--cell-size) - 8px);
    height: calc(var(--cell-size) - 8px);
    top: 4px;
    left: 4px;

    --boat-img: url(../assets/images/boat/boat-up.svg);
    background-image: var(--boat-img);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#game-container #game-map #map-container .map-cell.boat.boat-up::after {
    --boat-img: url(../assets/images/boat/boat-up.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-down::after {
    --boat-img: url(../assets/images/boat/boat-down.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-left::after {
    --boat-img: url(../assets/images/boat/boat-left.svg);
}

#game-container #game-map #map-container .map-cell.boat.boat-right::after {
    --boat-img: url(../assets/images/boat/boat-right.svg);
}

/* #endregion */