{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Carte</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/market.css' %}">
    </head>
    <body>
        <div id="game-container">
            <div id="game-hud">
                <div id="game-hud-bars">
                    <div id="boisium-bar" class="resource-bar">
                        <div class="bar-icon" style="--bar-icon-color: #71593F;">
                            <img src="{% static 'assets/icons/resource-icon.svg' %}" alt="Boisium" class="bar-icon-img">
                        </div>
                        <div class="bar-frame">
                            <img src="{% static 'assets/images/resource-bar-frame.png' %}" alt="Bar Frame" class="bar-frame-img">
                            <div class="bar-frame-text">{{ data.resources.boisium }}</div>
                        </div>
                    </div>
                    <div id="feronium-bar" class="resource-bar">
                        <div class="bar-icon" style="--bar-icon-color: #B5B5B5;">
                            <img src="{% static 'assets/icons/resource-icon.svg' %}" alt="Feronium" class="bar-icon-img">
                        </div>
                        <div class="bar-frame">
                            <img src="{% static 'assets/images/resource-bar-frame.png' %}" alt="Bar Frame" class="bar-frame-img">
                            <div class="bar-frame-text">{{ data.resources.feronium }}</div>
                        </div>
                    </div>
                    <div id="charbonium-bar" class="resource-bar">
                        <div class="bar-icon" style="--bar-icon-color: #3A3D30;">
                            <img src="{% static 'assets/icons/resource-icon.svg' %}" alt="Charbonium" class="bar-icon-img">
                        </div>
                        <div class="bar-frame">
                            <img src="{% static 'assets/images/resource-bar-frame.png' %}" alt="Bar Frame" class="bar-frame-img">
                            <div class="bar-frame-text">{{ data.resources.charbonium }}</div>
                        </div>
                    </div>
                    <div id="gold-bar" class="resource-bar">
                        <div class="bar-icon" style="--bar-icon-color: #DAC276;">
                            <img src="{% static 'assets/icons/resource-icon.svg' %}" alt="Gold" class="bar-icon-img">
                        </div>
                        <div class="bar-frame">
                            <img src="{% static 'assets/images/resource-bar-frame.png' %}" alt="Bar Frame" class="bar-frame-img">
                            <div class="bar-frame-text">{{ data.resources.gold }}</div>
                        </div>
                    </div>
                    <div id="boat-bar" class="boat-bar">
                        <div class="bar-icon" style="--bar-icon-color: #8F6978;">
                            <img src="{% static 'assets/icons/resource-icon.svg' %}" alt="Boat" class="bar-icon-img">
                        </div>
                    </div>
                </div>
            </div>
            <div id="game-map">
                <div id="map-container"></div>
            </div>
        </div>
    <div id="cart-bubble">
        <img src="{% static 'assets/icons/cart.svg' %}" alt="Panier" />
    </div>
    <div id="market-modal"></div>
    </body>
</html>
<script type="module">
    import { map } from "{% static 'js/map.js' %}";
    import { initMarket } from "{% static 'js/market.js' %}";
    map.init({{ data|safe }});

    const cartBubble = document.getElementById('cart-bubble');
    const marketModal = document.getElementById('market-modal');

    cartBubble.onclick = async () => {
        try {
            const resp = await fetch('/market/');
            const html = await resp.text();
            marketModal.innerHTML = html;
            marketModal.style.display = 'block';

            initMarket();

        } catch (e) {
            alert('Erreur lors du chargement du marché');
        }
    };
</script>

<style>
    #market-modal {
        display: none;
        position: fixed;
        inset: 0;
        z-index: 2000;

        align-items: center;
        justify-content: center;

        background: rgba(0,0,0,0.6);
    }

    #market-modal > * {
        width: 400px;
        max-height: 80vh;
        overflow-y: auto;
        background: #F6F0D8;
    }
</style>