{% load static %}
<div class="market-header">
  <h2>OFFRES Marketplace</h2>
  <button class="close-market-btn">
    <img src="{% static 'assets/icons/modal-close.svg' %}" alt="Fermer" />
  </button>
</div>

<div id="offers" data-offers='{{ offers|safe }}'></div>
<button id="sellBtn" style="margin-bottom:2em;">Créer une offre</button>

<div id="sellModal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Créer une offre</h3>
      <button id="closeModal" class="close-market-btn">
        <img src="{% static 'assets/icons/modal-close.svg' %}" alt="Fermer" />
      </button>
    </div>
    <form id="sellForm" style="display:flex;flex-direction:column;gap:8px;">
      <label>Ressource :
        <select id="resourceSelect"></select>
      </label>
      <label>Quantité :
        <input type="number" id="sellQty" min="1" value="1" style="margin-left: 14px">
      </label>
      <label>Prix/unité :
        <input type="number" id="sellPrice" min="1" value="1">
      </label>
      <button id="confirmSell" type="button">Valider</button>
    </form>
  </div>
</div>
<script>
  window.STATIC_URLS = {
    resourceIcon: "{% static 'assets/icons/resource-icon.svg' %}",
    closeIcon: "{% static 'assets/icons/modal-close.svg' %}"
  };
</script>